body{
  background-image: linear-gradient(to bottom, #ffffff, #e9e4ff, #d5c9ff, #c0aeff, #ac93ff);
}

.resume{
  width: 40%;
  height: 40%;
}

  .head{
    font-style: italic;
    font-size: 80px;
    font-family: cursive;
}

  form{
    background-color: #F1D6FE;
    width: 600px;
    text-align: left;
    border-radius: 5%;
    border-style: outset;
}

  .tesxtfrom{
    margin: 20px;
    font-family: cursive;
}

  .resume{
    border-style: outset;
    border-color: rgb(166, 169, 169);
    border-width: 5px;
    width: 45%;
    height: 45%;
}

  h3{
    font-family: cursive;
    font-size: 30px;
}

  .contentCV{
    margin-left: 300px;
}
  .contentProject{
    position: absolute;
    right: 250px;
    top: 0;
    padding-top: 500px;
    font-family: cursive;
}

  table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

  .active{
  background-color: purple;
}

  li a:hover:not(.active) {
  background-color:#C357F5;
  color: black;
}

  .bar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

  li :not(.list){
  float: left;
}

  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: cursive;
}